/** @format */
.room-fields-title {
  font-weight: bold;
  font-size: 17px;
}
.room-image-uploader-container {
  width: 50px;
}
.room-image-uploader-container img {
  width: 100%;
  height: 100%;
}
.SimpeBar {
  max-height: 480px;
}

@media only screen and (min-width: 499px) {
  .create-room-container {
    padding: 1rem;
    width: 400px;
    margin: 0 auto;
  }
  .room-fields-title {
    font-weight: bold;
    font-size: 20px;
    padding: 1rem 0;
  }
  .SimpeBar {
    max-height: none;
  }
}
