/** @format */

.aggrements-container {
  padding: 2rem;
  padding-top: 6rem;
}
.aggrements {
  padding: 1rem 0;
}
.aggrements-title {
  padding: 1rem 0;
  color: rgb(12, 138, 170);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.aggrements-svg {
  text-align: center;
}
.aggrements-subtitle {
  line-height: 1.5;
  text-align: justify;
}
.aggrement-bigtitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 425px) {
  .aggrements-container {
    width: 70%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
  .aggrement-bigtitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
}
